body, h1, h2, h3, h4, h5, h6, p, a, span{
  font-family: 'Quicksand', sans-serif!important;
  font-weight: 400;
}
.mdl-layout__drawer-button{
  color: grey!important;
  outline: none;
}
.style-text-green{
  color: #2ECC71!important;
}
.style-text-grey{
  color: grey!important;
}
.style-child{
  display:table-cell;
  vertical-align: middle;
  text-align: left;
}
.style-parent{
  display:table;
  height: 80%;
  width: 100%;
}
.style-button-green{
  background-color: #2ECC71;
  border:none;
  border-radius: 20px!important;
  padding: 15px;
  height: 40px;
  width: 200px;
  margin: 10px;
  outline: none!important;
  cursor: pointer;
  transition: 0.8s;
  position:relative;
  color:white;
}
.style-special-button{
  background-color: white;
  border: 0.5px solid #2ECC71;
  border-radius: 20px!important;
  padding: 15px;
  height: 40px;
  width: 200px;
  margin: 10px;
  outline: none!important;
  cursor: pointer;
  transition: 0.8s;
  position:relative;
  color: #2ECC71;
}
.style-special-button:hover{
  background: #2ECC71;
  color:white;
  box-shadow: 0 12px 19px -6px #2ECC71;
  transition: 0.8s;
}
.style-card{
  border:none;
  border-radius:17px;
  padding:20px;
  margin-top:20px;
}
.style-td{
  text-align: left!important;
}
.style-star-checked{
  color:orange;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:40px;
    color:#ccc;
    height: 70px;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  -webkit-transform: translate3d(0, -50px, 0);
  -ms-transform: translate3d(0, -50px, 0);
  transform: translate3d(0, -50px, 0);

  -webkit-transition: -webkit-transform .5s ease-out;
  -ms-transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
}

.pace.pace-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 10px;
  background: #2ecc71;
  pointer-events: none;
}
