body, h1, h2, h3, h4, h5, h6, p, a, span{
  font-family: 'Quicksand', sans-serif!important;
  font-weight: 400;
}
.mdl-layout__drawer-button{
  color: grey!important;
  outline: none;
}
.style-text-green{
  color: #2ECC71!important;
}
.style-text-grey{
  color: grey!important;
}
.style-child{
  display:table-cell;
  vertical-align: middle;
  text-align: left;
}
.style-parent{
  display:table;
  height: 80%;
  width: 100%;
}
.style-special-button{
  background-color: white;
  border: 0.5px solid #2ECC71;
  border-radius: 20px!important;
  padding: 15px;
  height: 40px;
  width: 200px;
  margin: 10px;
  outline: none!important;
  cursor: pointer;
  transition: 0.8s;
  position:relative;
  color: #2ECC71;
}
.style-special-button:hover{
  background: #2ECC71;
  color:white;
  box-shadow: 0 12px 19px -6px #2ECC71;
  transition: 0.8s;
}
.style-card{
  border:none;
  border-radius:17px;
  padding:20px;
  margin-top:20px;
}
.style-star-checked{
  color:orange;
}
